<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="org.apache.cordova.plugins.FacebookConnect"
	version="3.0.4">

	<name>FacebookConnect</name>

	<asset src="www/FacebookConnect.js" target="FacebookConnect.js" />

	<!-- android -->
	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="org.apache.cordova.plugins.FacebookConnect"
					  android:label="@string/app_name">
				<intent-filter>
				</intent-filter>
			</activity>
		</config-file>

		<!-- Cordova 1.5 - 1.9 -->
		<config-file target="res/xml/plugins.xml" parent="/plugins">
			<plugin name="FacebookConnect"
				value="org.apache.cordova.plugins.FacebookConnect"/>
		</config-file>

		<!-- Cordova 2.0.0 -->
		<config-file target="res/xml/config.xml" parent="/cordova/plugins">
			<plugin name="FacebookConnect"
				value="org.apache.cordova.plugins.FacebookConnect"/>
		</config-file>

		<source-file src="src/android/FacebookConnect.java"
				target-dir="org/apache/cordova/plugins/FacebookConnect" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<plugins-plist key="FacebookConnect" />

		<resource-dir src="FacebookSDK" />

		<header-file src="FacebookConnectPlugin.h" />

		<source-file src="FacebookConnectPlugin.m" />
	</platform>

</plugin>

