body {
	vertical-align: top; text-transform: none;
}
h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
}
.app {
	margin-top: 0px;
	top: 20px;
}

a.btn {
    color: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -webkit-tap-highlight-color: green;
    border-radius: 6px;
    text-align:center;
    display:block;
    background:#333;
    width:80%;
    margin: 0 auto;
    color:#fff;
    font-size:1.2em;
    font-weight: bold;
    padding: .25em 0;
    text-decoration:none;
}

a.btn:active {
  color: green;
}